<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  	<!-- 0.Ask 1.Play 2.  Download 3. Download and Play -->
  	<setting id="download" type="enum" lvalues="30005|30006|30007" label="30009" default="1"/>
  	<setting id="download_path" type="folder" source="video" label="30010"  option="writeable" default="E:¥"/>
	<!-- <setting id="uname" label="30000" type="text" default=""/>
	<setting id="pwd"   label="30001" type="text" option="hidden" default=""/>-->
</settings>